{% extends "BASE.html" %}
{% block title %}Create Report{% endblock %}
{% block content %}
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">BookTrader</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="divider-vertical"></li>
                <li><a href="/themes"><i class="icon-file icon-white"></i> Themes</a></li>
            </ul>
            <div class="pull-right">
              <ul class="nav pull-right">
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome! {% if url_linktext=='Logout' -%}{{ u_nick }}{% endif -%} <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          {% if url_linktext=='Logout' -%}
                          <li><a href="/user/preferences"><i class="icon-cog"></i> My Account</a></li>
                          {% endif -%}
                          <li class="divider"></li>
                          <li><a href="{{ url|safe }}"><i class="icon-off"></i> {{ url_linktext }}</a></li>
                      </ul>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <form action="{{ upload_action }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="theme">Theme</label>
          <select id="theme" name="theme" class="form-control">
            {% for item in theme_items -%}
            <option value="{{ item.theme_name }}" {{ 'selected' if report_theme==item.theme_name }}>{{ item.theme_name }}</option>
            {% endfor -%}
          </select>
        </div>
        <div class="form-group">
          <label for="title">Report Title:</label>
          <input type="title" class="form-control" placeholder="Report title" name="title">
        </div>
        <div class="form-group">
          <label for="tags">Tags:</label>
          <input type="textarea" class="form-control" id="tags" placeholder="Report tags" name="tags">
          <p>Existing Tags: <br/><i>{% for t in REPORT_TAGS_SET %}{{t}}, {% endfor %}</i></p>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" rows="5" id="description" name="description"></textarea>
        </div>
        <div class="form-group">
          <label for="book-img">Upload multiple images while choosing</label>
          <input class="form-control" type="file" id="book-img" name="book-img" accept="image/png, image/jpeg" multiple>
        </div>
        <div class="form-group">
          <label id='locInputPromt'>Location: </label>
          <input type="textarea" class="form-control" id="lat" name='lat' hidden value=30.284338>
          <input type="textarea" class="form-control" id="lng" name='lng' hidden value=-97.737842>
          <div id="map-container" class="z-depth-1" style="height: 300px; width: 300px"></div>
        </div>
        <hr/>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>

      </form>
      <script>
        function initMap() {
            var myGeoPoint = new google.maps.LatLng(30.284338, -97.737842);
            var myOptions = {
                zoom: 16,
                center: myGeoPoint,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("map-container"), myOptions);
            // marker refers to a global variable
            marker = new google.maps.Marker({
                position: myGeoPoint,
                map: map
            });
            // if center changed then update lat and lon document objects
            google.maps.event.addListener(map, 'center_changed', function () {
                var location = map.getCenter();
                document.getElementById('lat').value = parseFloat(location.lat());
                document.getElementById('lng').value = parseFloat(location.lng());
                // call function to reposition marker location
                placeMarker(location);
            });

            function placeMarker(location) {
                var clickedLocation = new google.maps.LatLng(location);
                marker.setPosition(location);
            }
        }

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            map.setCenter(pos);
            document.getElementById('locInputPromt').innerHTML = "Location: <i>Please confirm your location marker.</i>";
          }, function(){
            document.getElementById('locInputPromt').innerHTML = "Location: <i>Location access denied. Please pick your location on the map.</i>";
          });
        } else {
          // Browser doesn't support Geolocation
          document.getElementById('locInputPromt').innerHTML = "Location: <i>Browser doesn't support. Please pick your location on the map.</i>";
        }

      </script>
      <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTUN_f4wdy0hZm3rsRQdILHSWLhSpMU50&callback=initMap">
      </script>
    </div>
{% endblock %}