{% extends "BASE.html" %}
{% block title %}Create Report{% endblock %}
{% block content %}
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">BookTrader</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="divider-vertical"></li>
                <li><a href="/themes"><i class="icon-file icon-white"></i> Themes</a></li>
            </ul>
            <div class="pull-right">
              <ul class="nav pull-right">
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome! {% if url_linktext=='Logout' -%}{{ u_nick }}{% endif -%} <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          {% if url_linktext=='Logout' -%}
                          <li><a href="/user/preferences"><i class="icon-cog"></i> My Account</a></li>
                          {% endif -%}
                          <li class="divider"></li>
                          <li><a href="{{ url|safe }}"><i class="icon-off"></i> {{ url_linktext }}</a></li>
                      </ul>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <form action="{{ upload_action }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="theme">Theme</label>
          <select id="theme" name="theme" class="form-control">
            {% for item in theme_items -%}
            <option value="{{ item.theme_name }}" {{ 'selected' if report_theme==item.theme_name }}>{{ item.theme_name }}</option>
            {% endfor -%}
          </select>
        </div>
        <div class="form-group">
          <label for="title">Report Title:</label>
          <input type="title" class="form-control" placeholder="Report title" name="title">
        </div>
        <div class="form-group">
          <label for="tags">Tags:</label>
          <input type="textarea" class="form-control" id="tags" placeholder="Report tags" name="tags">
          <p>Existing Tags: <br/><i>{% for t in REPORT_TAGS_SET %}{{t}}, {% endfor %}</i></p>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" rows="5" id="description" name="description"></textarea>
        </div>
        <div class="form-group">
          <label for="book-img">Upload multiple images while choosing</label>
          <input class="form-control" type="file" id="book-img" name="book-img" accept="image/png, image/jpeg" multiple>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>

      </form>
    </div>

{% endblock %}