{% extends "BASE.html" %}
{% block title %}My Account - Edit Subscription{% endblock %}
{% block content %}
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">BookTrader</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
              <li class="divider-vertical"></li>
              <li><a href="/themes"><i class="icon-file icon-white"></i> Themes</a></li>
          </ul>
          <div class="pull-right">
            <ul class="nav pull-right">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome! {% if url_linktext=='Logout' -%}{{ u_nick }}{% endif -%} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if url_linktext=='Logout' -%}
                        <li><a href="/my"><i class="icon-cog"></i> My Account</a></li>
                        {% endif -%}
                        <li class="divider"></li>
                        <li><a href="{{ url|safe }}"><i class="icon-off"></i> {{ url_linktext }}</a></li>
                    </ul>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <form action="/my" method="POST" enctype="multipart/form-data">
      {% if num!=0: -%}
      <div class="form-group">
        <label for="address">Current subscription email: </label>
        <input type="email" id="address" name="address" class="form-control" value="{{ sub.email }}">
      </div>
      <div class="form-check">
        <label>Edit subscribed themes:</label>
        {% for item in theme_items -%}
        <input type="checkbox" class="form-check-input" id="{{ item.theme_name }}" name="{{ item.theme_name }}" {% if item.theme_name in sub.theme_name: %}checked{% endif %}>{{ item.theme_name }}</input>
        {% endfor -%}
      {% else: -%}
      <div class="form-group">
        <label for="address">Set up new subscription email: </label>
        <input type="email" id="address" name="address" class="form-control" value="{{ u_nick }}" disabled>
      </div>
      <div class="form-check">
        <label>Edit subscribed themes:</label>
        {% for item in theme_items -%}
        <input type="checkbox" class="form-check-input" id="{{ item.theme_name }}" name="{{ item.theme_name }}">{{ item.theme_name }}</input>
        {% endfor -%}
      {% endif -%}
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
  </div>

{% endblock %}